{% extends 'base/base.html' %}

{% block content %}
{% block navbar %}
<div class="bs-docs-section clearfix">
  <div class="row">
    <div class="col-lg-12">
      <div class="bs-component">
        <nav class="navbar navbar-default">
          <div class="container-fluid" >
              <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index:Menu' %}">INICIO</a>
              </div>

              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index:Menu' %}">CLIENTES</a>
                </div>

                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index:Menu' %}"></a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">OPCIONES<span class="caret"></span></a>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'logout' %}">SALIR</a></li>
                        </ul>
                    </li>
                </ul>

              </div>


          </div>
        </nav>
      </div>
    </div>
  </div>
</div>


<div align="center">
  <h1 style="font-family: times;" > REALIZAR ORDEN </h1>
</div>

<form method="POST" style="margin:20px 100px" enctype="multipart/form-data">

  {% csrf_token %}
<h2>Nombre del cliente</h2>
  {{ form.nombre }}
<h2>fecha de la orden</h2>  
  {{ form.fecha }}
<h2>Hora de Inicio</h2>
  {{ form.horainicio }}
<h2>Hora de Termino</h2>
  {{ form.horafin }}
<h2>Modelo del Ascensor</h2>
  {{ form.modeloascensor }}
<h2>Fallas Detectadas</h2>
  {{ form.fallasdetectadas }}
<h2>Reparaciones Efectuadas</h2>
  {{ form.reparacionesefectuadas }}
<h2>Piezas Cambiadas</h2>
  {{ form.cambiopiezas}}
<br>
<button type="submit" class="btn btn-primary btn-block btn-success"> REGISTRAR NUEVA ORDEN</button>
<a class="btn btn-primary btn-block" href="{% url 'trabajador:Clientes' %}" >VOLVER</a>
</form>







{% endblock %}
{% endblock %}